#menuHolder {
    position: absolute;
    width: auto;
    height: 34px;
    top: 2px;
    left: 2px;
    right: 2px;
    z-index: 1;
    overflow: visible;
}


#pluginHolder {
    position: absolute;
    width: auto;
    height: auto;
    right: 2px;
    left: 2px;
    top: 36px;
    bottom: 2px;
    overflow: auto;
    z-index: 0;
}

.plugin {
    overflow: auto;
}
